{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "airbnb-typescript", "prettier"],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "rules": {
    "react/react-in-jsx-scope": ["off"],
    "react/jsx-uses-react": ["off"],
    "react/jsx-props-no-spreading": ["warn"],
    "react/no-unescaped-entities": ["off"],
    "react/self-closing-comp": ["off"],
    "react/function-component-definition": [2, { "namedComponents": ["arrow-function"] }],
    "@typescript-eslint/no-unused-vars": ["warn"],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "import/newline-after-import": ["warn"],
    "import/no-extraneous-dependencies": ["off"],
    "arrow-body-style": ["off", "never"],
    "import/extensions": ["off"]
  }
}
