@import url(/src/styles/reset.css);
@import url(/src/styles/global.css);

* {
  font-family: "Pretendard", "sans-serif";
}

html {
  font-size: 62.5%;
  color: var(--color-black);
}

body {
  font-size: 1.6rem;
  font-family: "Pretendard", "sans-serif";
}
